/*il body viene usato come un 'blocco fisso' sul quale vengono mossi gli altri oggetti, basterà dargli una position: absolute*/
body
{
    background-color: rgb(236, 223, 161);
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.ButtonsDiv_class > * 
{
    padding: 0.7em 1.2em;
    font-size: 1rem;
    color:rgb(255, 255, 255);
    border: none;
    background-color: #fa8128ff;
    box-shadow: 3px 2px 8px #888888;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.ButtonsDiv_class > *:hover{background-color: #ffb91bff;;}

button:hover
{
    cursor: pointer;
}
span.keyword
{
    text-transform: uppercase;
}

.statisticGraph canvas
{
    width: min(90%, 30rem);
    display: block;
    position: relative;
    margin:0 auto;
    border: 1px solid rgb(0, 0, 0);
}

.sliders p
{
    text-align: center;
    margin: 0.5em;
}

.sliders span
{
    padding: 0.5em;
}

.slider>*
{
    padding: 0.5em;
}

.simulation
{
background-color: rgb(0, 0, 0);
border: 1px solid rgb(0, 0, 0);
display: block;
position: relative;
margin: 0 auto;
width: min(90%, 30rem);
}

.columns
{
display: flex;
}

.columns>*
{
flex-basis: 100%;
margin:1rem;
}

.black
{
    color: black;
}

/*slider*/
.slider {
-webkit-appearance: none;
width: 50%;
opacity: 0.8;
height: 13px;
border-radius: 5px;
background: #e9e9e9;
-webkit-transition: .2s;
transition: opacity .2s;
border: none;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background:#fa8128ff;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #fa8128ff;
cursor: pointer;
}
/*RESPONSIVE*/
  /*size4 size*/
@media screen and (min-width:992px)
{
    .statisticGraph canvas
    {
        margin-left: 0;
        width: min(90%, 25rem);
    }
    .sliders p
    {
        text-align: left;
        margin-top: 0.5em;
    }
}
