/*il body viene usato come un 'blocco fisso' sul quale vengono mossi gli altri oggetti, basterà dargli una position: absolute*/
body
{
    background-color: rgb(236, 223, 161);
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.ButtonsDiv_class > * 
{
    padding: 4px 8px 4px 8px;
    font-size: 1em;
    border-radius: 15%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

#ResetButton
{
    background-color: rgb(58, 1, 80);
}

#PauseButton
{
    
    background-color: rgb(202, 15, 15);
}

#PlayButton
{
    background-color: rgb(60, 185, 10);
}

#StepButton
{
    background-color: orange;
}

.ButtonsDiv_class > *:hover
{
    background-color: orange;
}

/*aggiungendo la classe keyword a una span, essa diventa maiuscola*/
span.keyword
{
    text-transform: uppercase;
}

.statisticGraph canvas
{
    width: min(90%, 30rem);
    display: block;
    position: relative;
    margin:0 auto;
    border: 1px solid rgb(0, 0, 0);
}

.sliders p
{
    text-align: center;
    margin: 0.5em;
    color: black;
}

.sliders span
{
    color: black;
    padding: 0.5em;
}

.slider>*
{
    padding: 0.5em;
}

.simulation
{
background-color: rgb(0, 0, 0);
border: 1px solid rgb(0, 0, 0);
display: block;
position: relative;
margin: 0 auto;
width: min(90%, 30rem);
}

.columns
{
display: flex;
flex-direction: column;
}

.columns>*
{
flex-basis: 100%;
margin:1rem;
}

.black
{
    color: black;
}

/*RESPONSIVE*/
@media screen and (min-width:600px)
{
    .columns{flex-direction: row;}
}
  /*size4 size*/
@media screen and (min-width:992px)
{
    .statisticGraph canvas
    {
        margin-left: 0;
        width: min(90%, 25rem);
    }
    .sliders p
    {
        text-align: left;
        margin-top: 0.5em;
    }
}
