/*il body viene usato come un 'blocco fisso' sul quale vengono mossi gli altri oggetti, basterà dargli una position: absolute*/
body
{
    background-color: rgb(180, 206, 255);
    position: relative;
}

/*gli slider vengono spostati a destra, sovrapposti, pronti per essere traslati verso il basso*/
.sliders
{
    position: absolute;
    top: 60px;
    left: 450px;
}

.ButtonsDiv_class
{
    position: absolute;
    top: 10px;
    left: 450px;
}

#ResetButton
{
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    border-radius: 15%;
    border-style: solid;
    border-color: blue;
    color:rgb(255, 255, 255);
    background-color:black;
}

#PauseButton
{
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    border-radius: 15%;
    border-style: solid;
    border-color: blue;
    color:rgb(255, 255, 255);
    background-color: rgb(163, 0, 0);
}

#PlayButton
{
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    border-radius: 15%;
    border-style: solid;
    border-color: blue;
    color:rgb(255, 255, 255);
    background-color: rgb(67, 122, 3);
}

#StepButton
{
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    border-radius: 15%;
    border-style: solid;
    border-color: blue;
    color:rgb(255, 255, 255);
    background-color: rgb(190, 102, 0);
}

span
{
    color: black;
    text-align: left;
}

/*aggiungendo la classe keyword a una span, essa diventa maiuscola*/
span.keyword
{
    text-transform: uppercase;
}

.simulation
{
    width: 400;
    height: 400;
    background-color: rgb(0, 0, 0);
    border: 1 solid rgb(0, 0, 0);
    position: absolute;
}

.statisticGraph
{
    width: 400;
    height: 200;
    background: rgb(51, 87, 207);
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    top: 200px;
    left: 450px;
}
