/*il body viene usato come un 'blocco fisso' sul quale vengono mossi gli altri oggetti, basterà dargli una position: absolute*/
body
{
    background-color: rgb(180, 206, 255);
    position: relative;
}

/*gli slider vengono spostati a destra, sovrapposti, pronti per essere traslati verso il basso*/
div
{
    position: absolute;
    top: 10px;
    left: 450px;
}

/*transform permette di translare un oggetto dalla sua posizione assoluta*/
.SliderInfectionProb_class
{
    transform: translate(0px, 30px);
}

.SliderInfectionRange_class
{
    transform: translate(0px, 85px);
}

.SliderInfectionSpan_class
{
    transform: translate(0px, 140px);
}

#ResetButton
{
    border-style: solid;
    border-color: blue;
    color:rgb(255, 255, 255);
    background-color:black;
}

#PauseButton
{
    border-style: solid;
    border-color: blue;
    color:rgb(3, 3, 94);
    background-color: rgb(247, 110, 68);
}

#PlayButton
{
    border-style: solid;
    border-color: blue;
    color:rgb(3, 3, 94);
    background-color: rgb(162, 255, 56);
}

#StepButton
{
    border-style: solid;
    border-color: blue;
    color:rgb(3, 3, 94);
    background-color: rgb(245, 147, 35);
}


span
{
    color: black;
    text-align: left;
}

/*aggiungendo la classe keyword a una span, essa diventa maiuscola*/
span.keyword
{
    text-transform: uppercase;
}

.simulation
{
    width: 400;
    height: 400;
    background-color: rgb(0, 0, 0);
    border: 1 solid rgb(0, 0, 0);
    position: absolute;
}

.statisticGraph
{
    width: 400;
    height: 200;
    background: rgb(51, 87, 207);
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    top: 200px;
    left: 450px;
}
