#simulationCanvas
{
    width: 400;
    height: 400;
    background-color: rgb(0, 0, 0);
    border: 1 solid rgb(0, 0, 0);
}
#graph
{
    width: 200;
    height: 200;
    background-color: rgb(221, 221, 221);
    border: 1 solid rgb(0, 0, 0);
}
.slider
{
    background-color:rgb(131, 195, 255);
    border: 1 solid black;
}