/*GENERAL STYLING*/
* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  cursor: default;
}
:root {
  --dark-orange: #fa8128ff;
  --light-orange: #ffb91bff;
  --brown: rgba(0, 0, 0, 0.89);
}
/*NAVBAR*/
.navbar ul{
  display: flex;
  background-color: black;
  list-style-type: none;
  justify-content: space-between;
}
.navleft{display: flex;}
.navleft a{display: inline-block;}
.lingue a{display: flex;}
.navbar a{
  padding: 1em;
  text-decoration: none;
  color: var(--dark-orange);
  text-align: center;
  position: relative;
}
.navbar a:hover {color: var(--light-orange);} 
.navbar .dropdown{
  position: absolute;
  display: none;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.lingue:hover .dropdown{display: block;}
/*IMMAGINE HEADER*/
.main-header{position: relative;}
.main-header img{
  z-index: -1;
  position: relative;
}
.headtitle{
  position: relative;
  top: 0;
  width: 100%;
  left:0;
  text-align: center;
  background-color: #0b0505;
}
.headtitle h1{
  overflow: hidden;
  color:var(--dark-orange);
  font-size: 3rem;
  line-height: 1;
  max-width: 100%;
  margin:0 1em;
}
.headtitle p{
  font-size: 1rem;
  max-width: 100%;
  color: var(--light-orange);
  line-height: 1.7;
  text-align: center;
  margin: auto;
}
   /*CONTENUTO*/
  /* [class^="text-area"]{
    padding: 3rem 0;
  }*/
  
/*
  }*/
.simulpic{border: 3px solid black;}
.articolocontainer, .container{
  margin-inline:auto;
  width: min(90%, 50rem);
  position: relative;
  margin: 0 auto;
}
p, tr, th{
  padding: 1em;
  line-height: 1.8;
  font-size: 1.3rem;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}
/*area1*/
.text-section-1{
  display: flex;
  flex-direction: column;
}
.text-section-1>div{
  display: flex;
  flex-flow: row;
}
.text-section-1>div>p{flex-basis: 90%;}
.text-section-1 img{
  width: 60px;
  height: 60px;
}
  /**/
.colorblock{
background-color: var(--dark-orange);
height: 2.5rem;
}
.dividorarticolo{
background-color: var(--brown);
height: 5rem;
margin:1em 0;
}

  /*articoli area*/
.articolo h3{
  font-size: 1.3rem;
  font-weight: bold;
}
.articolo{padding: 1em;}
.articolo:hover{background-color: rgb(211, 211, 211);}
.articolo, .articolo p, .articolo img{cursor: pointer;}
  /*citazionearea*/
.citazione {
  background-color:var(--brown);
  text-align: center;
}
.citazione p{
  color: var(--light-orange);
  font-size:1.2rem;
}
.citazione q{
  display: inline-block;
  color: var(--dark-orange);
  padding: 1em;
  font-size: 1.6rem;
  font-weight: bold;
}
  
  /*simulationarea*/
.imgarea{background-color: var(--brown);}
.imgarea h2, .areaarticoli h2{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5em;
}
.imgarea h2{ color:var(--light-orange);}
.imgarea button {
  display: block;
  margin: 1em auto;
  padding: 1em 2em;
  background-color: var(--brown);
  color: var(--light-orange);
  font-size: 1.3rem;
  font-weight: 300;
  border: none;
}
.imgarea button:hover{
  background-color:var(--light-orange);
  color: var(--brown);
}
  /*footer*/
.footer{background-color: var(--dark-orange);}
.footer p{
  padding: 3rem;
  text-align: center;
  color: var(--brown);
}
  /*header articolo*/
.header{
  display: none;
  overflow: hidden;
  background-color: var(--brown);
  position: relative;
}
.header img{
  max-width: 60%;
  position: relative;
  margin-left: 0;
}
.title{
  color: #fa8128ff;
  max-width: 60ch;
  position: absolute;
  margin-left: 40%;
  margin-top: 2em;
}
.title h1{font-size: 3.5vw;}
.text-body h1{
  margin:0.5em;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 900;
  color: var(--light-orange);
}
.caption{
color: var(--brown);
text-align: center;;
margin-top: 0.3em;
font-size: 0.8rem
}
.johnsnow{display: flex;}
.johnsnow>*{
  flex-basis: 100%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.johnsnow>*>:first-child{
flex-basis: 90%;
}
.johnsnow>*>:nth-child(2){
  flex-basis: 10%;
  }
/*INPAGINAZIONE*/
.areainpag{
  text-align: center;
  margin: 2em;
}
.pagination {display: inline-block;}
.pagination a {
  color: black;
  font-size: 1.3rem;
  float: left;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  margin: 0.3em;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.current {
  background-color:var(--light-orange);
  color: white;
}
.pagination a:hover:not(.current) {background-color: #ddd;}
/*TABELLE*/
table{
  border-collapse: collapse;
  text-align: center;
  margin: 1rem;
}
td, th{
  border: 1px solid black;
  padding: 0.5em;
}
th{
  color:var(--brown);
  background-color: var(--light-orange);
}
  /*RESPONSIVE*/
  /*size 2*/
@media screen and (min-width:600px){
    .text-body{background-color:rgb(170, 163, 231);}

    .text-section-1{flex-direction: row;}
    .text-section-1>div{flex-direction: column;}
    .text-section-1{margin: 1em 0;}
    .citazione q{font-size: 2rem;}
    .articolocontainer{width: min(70%, 50rem);}
}
  /*size 3*/
@media screen and (min-width:768px){
    .headtitle{
      background-color: transparent;
      position: absolute;
      top:15%;
      width:45%;
      background-color: transparent;
    }
    .imgarea h2 {font-size: 2.5rem;}
    .headtitle h1{
      color: var(--dark-orange);
      font-size: 5.5vw;
    }
    .headtitle p{
      color: var(--light-orange);
      padding-top:1.5em;
      max-width: 70%;
      color: var(--light-orange);
    }
    .main-header img{margin: 0;}
    .text-body{background-color:pink;}
    .header{display: block;}
    .text-body h1{display: none;}
}

  /*size4 size*/
@media screen and (min-width:992px){
    .text-body{background-color:rgb(134, 212, 119);}
    .articolocontainer{width: min(70%, 50rem);}
}
  /*size 5*/
@media screen and (min-width:1200px){
    .text-body{background-color:rgb(255, 255, 255);}
    .container{width: min(90%, 50rem);}
}